.header {
  background: lightgray;
  outline: 1px solid darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:  var(--header-height);
}

.icon {
  width: 40px;
  height: 40px;
}

.iconBlock, .btnBlock {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;
  padding: 10px;
}
