footer {
  height: var(--footer-height);
  background: lightgray;
  width: 80vw;
  outline: 1px solid darkgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}
