
.welcomePage {
  background: lightgray;
  width: 100%;

  height: calc(100vh - var(--footer-height) - var(--header-height));
}
.welcome__wrapper{
  background-image: url("../../assets/rnm-bg.svg");
  background-position: bottom  right 0px;
  background-repeat: no-repeat;
  background-size: 40vh;
  margin-inline: auto;
  min-height: 100%;
  max-width: var(--max-width-desktop);  
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
.buttonContainer{
  width: 100%;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  height: calc(30% - 20px);
}

.secondSection, .thirdSection {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(30% - 20px);
  align-self: center;
}
